*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu {
    position: absolute;
    height: 80px;
    right: 120px;
    }
    .menu ul {
    list-style: none;
    }
    .menu ul li {
    display: inline-block;
    margin: 1em 0;
    padding: 0 30px;
    font-size: 15px;
    }
.container{
    width: 100%;
    display: flex;
    max-width: 850px;
    background: #fefcfc5f;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: slideInRight 3s forwards;
}

@keyframes slideInRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  

  
.login{
    width: 400px;
}
form{
    width: 250px;
    margin: 60px auto;
}
h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    
}

p{
    text-align: center;
    margin: 10px;
}
hr{
    border-top: 2px solid rgb(204, 184, 9);
}

.pic img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}


.menu {
    position: absolute;
    height: 80px;
    right: 120px;
    }
    .menu ul {
    list-style: none;
    }
    .menu ul li {
    display: inline-block;
    margin: 1em 0;
    padding: 0 30px;
    font-size: 15px;
    }

form label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    

}
input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
.button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(203, 52, 25);
}
button:hover{
    background: rgba(214, 86, 64, 1);
}
p{
    margin: 20px;
}
a{
    color: black;
    text-decoration: none;
}





